*{
    padding: 0px;
    margin: 0px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,1)),url(images/university-5188610__340.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
nav a{
   
    color: aliceblue;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
nav{
 padding-top: 35px;
 justify-content: space-between;
 
}
.nav-links{
   flex: 1;
   text-align: right;
   margin-top: -18px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    flex: right;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
}
.nav-links ul li::after{
content: '';
width: 0%;
height: 2px;
background: orangered;
display: block;
margin: auto;
transition: 0.5s;

}
.nav-links ul li:hover::after{
width: 100%;
}
.text-box{
    top: 50%;
    left: 50%;
    color: white;
    position: absolute;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
}